---
layout: default
---
<article class="post">
  <header class="post-header">
    <div class="container">
      <h1>{{ page.title }}</h1>
      <p class="post-meta">
        <time>{{ page.date | date: "%B %d, %Y" }}</time>
        {% if page.tags.size > 0 %}
          <span class="post-tags">{{ page.tags | join: " / " }}</span>
        {% endif %}
      </p>
    </div>
  </header>
  <div class="post-content">
    <div class="container container--narrow">
      {{ content }}
    </div>
  </div>
</article>
